.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 20px;
    border-style: solid;
    border-width: 10px;
    border-color: green;
    color:blue;
    text-align: center;
    text-transform: uppercase;
  }
  
  .second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    left: 250px;
    top: 20px;
    border-style: solid;
    border-width: 10px;
    border-color: red;
    color: blue;
    text-align: center;
    text-transform: uppercase;
  }
  
  .third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    position: absolute;
    left: 490px;
    top: 20px;
    border-style: solid;
    border-width: 10px;
    border-color: yellow;
    color: blue;
    text-align: center;
    text-transform: uppercase;
  }